/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */


.header {
  & h1 {
    color: black;
  }

  & a:hover {
    color: black;
    text-decoration: none;
  }
}


// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-text {
  background: #4a4a4a;
}
.bg-email {
  background: #aeaeae;
}
.bg-twitter {
  background: #00a3e1;
}
.bg-facebook {
  background: #3b5998;
}

.header {
  font-size: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}